@import "tailwindcss";

@theme {
  --color-primary: #629a61;
  --color-secondary: #8bc34a;
  --color-text: #333333;
  --color-text-light: #666666;
  --color-white-trsp: rgba(255, 255, 255, 0.7);
  --color-white: #fff;
  --color-primary-dark: #1d8055;
  --color-background: rgba(217, 238, 224, 0.95);
}
